body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fingerTable{
	position: absolute;
	top: 90px;
	left: 400px;
}
.graph{
	position: absolute;
	width: 480px;
	height: 400px;
	top: 0px; 
	left: 700px;
}
